.background1 {
  background: #000 url("https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/Xkc_9Ay9IGREIHTdu7_ipP_YMEw=/1660x0/smart/filters:no_upscale()/cloudfront-us-east-1.images.arcpublishing.com/dmn/6QZAEXCDRFEIZELRPDNH5Y2UEQ.JPG");
  color: #fff;
  background-size: cover;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  position: relative;
  z-index: 0;
}

.layer {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  position: absolute;
  z-index: 0;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.page-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  
  .navbar-links {
    display: none;
    width:100%
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  } 
  
  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  
  .navbar-links .active {
    display: flex;
  }
}
  

